@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Step 1</title>
    @Styles.Render("~/Content/StepOne.css")
</head>
<body>

    <div class="registration_container">
        <div class="wizard-header">
            <h2 style="font-size: 24px; color: #333333;">New User Registration</h2>
            <div class="label-step" style="color: #666666">Step 1 of 4:</div>
            <div class="label-contact">Contact Info</div>
            <div class="clear top-spacer"></div>
        </div>

        <div class="layout_container">

            <div class="left">
                <div class="contentsContainer">
                    <div class="dvEditVales">
                        <form action="/Register/SaveData?ShowInvited=False&InstanceKey=eb7406de-515e-4f4a-8e5d-5911fc2b55e0&ParentInstanceKey=cfe71be8-7b0b-44a7-8a72-aa166f9f410d&ActionType=Step1&WidgetId=0">
                            <div class="coralmsp-bottom20 coralmsp-floatscontainer dvEditPopupFormBody popupValidationsTipsContainer" id="dvSmPopupEditFrmContainer">
                                <div class="coralmsp-customscroll dvEditPopupFormContainer" id="dvSmPopupEditContainer">
                                    <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="AssemblyQualifiedNamePopup" style="display:none;">
                                        <tbody>
                                            <tr>
                                                <td class="dxic" style="width:100%;">
                                                    <input class="dxeEditArea_CoralMSP dxeEditAreaSys" id="AssemblyQualifiedNamePopup_I" name="AssemblyQualifiedNamePopup" onfocus="ASPx.EGotFocus('AssemblyQualifiedNamePopup')" onblur="ASPx.ELostFocus('AssemblyQualifiedNamePopup')" onchange="ASPx.EValueChanged('AssemblyQualifiedNamePopup')" value="CoralMSP.ViewModels.System.Register.WizardStep1ViewModel, CoralMSP.ViewModels, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" type="text">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table class="coralcore-formtable" style="width: 850px;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">
                                                                            <span id="img_DataViewModel.Prefix" class="images_cstmz_required_field_svg" title="Required" style="/*margin-bottom: 12px;*/margin-top: -12px;"></span>

                                                                            <span id="lbl_DataViewModel.Prefix">Salutation:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.Prefix_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.Prefix_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeButtonEditSys dxeButtonEdit_CoralMSP" id="DataViewModel.Prefix" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="display:none;"><input id="DataViewModel.Prefix_VI" name="DataViewModel.Prefix_VI" type="hidden"></td>
                                                                                                        <td class="dxic" onmousedown="return ASPx.DDDropDown('DataViewModel.Prefix', event)" style="width:100%;"><input tabindex="1" class="dxeEditArea_CoralMSP dxeEditAreaSys" id="DataViewModel.Prefix_I" name="DataViewModel.Prefix" onfocus="ASPx.EGotFocus('DataViewModel.Prefix')" onblur="ASPx.ELostFocus('DataViewModel.Prefix')" onchange="ASPx.ETextChanged('DataViewModel.Prefix')" type="text" autocomplete="off"></td>
                                                                                                        <td id="DataViewModel.Prefix_B-100" class="dxeButton dxeButtonEditButton_CoralMSP dxeButtonEditClearButton_CoralMSP" onmousedown="ASPx.BEClear('DataViewModel.Prefix', event)" style="display:none;"><img id="DataViewModel.Prefix_B-100Img" class="dxEditors_edtClear_CoralMSP" src="/DXR.axd?r=1_37-_q7Ic" alt="x"></td>
                                                                                                        <td id="DataViewModel.Prefix_B-1" class="dxeButton dxeButtonEditButton_CoralMSP" onmousedown="return ASPx.DDDropDown('DataViewModel.Prefix', event)" style="-webkit-user-select:none;"><img id="DataViewModel.Prefix_B-1Img" class="dxEditors_edtDropDown_CoralMSP"  alt="v"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table><div id="DataViewModel.Prefix_DDD_PW-1" class="dxpcDropDown_CoralMSP dxpclW dxpc-ddSys" style="width:0px;cursor:default;z-index:10000;display:none;visibility:hidden;">
                                                                                                <div class="dxpc-mainDiv dxpc-shadow">
                                                                                                    <div class="dxpc-contentWrapper">
                                                                                                        <div class="dxpc-content" id="DataViewModel.Prefix_DDD_PWC-1">
                                                                                                            <table class="dxeListBox_CoralMSP" id="DataViewModel.Prefix_DDD_L" style="border-collapse:separate;">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td style="vertical-align:Top;">
                                                                                                                            <div id="DataViewModel.Prefix_DDD_L_D" class="dxlbd" style="width:100%;overflow-x:hidden;overflow-y:auto;">
                                                                                                                                <input id="DataViewModel.Prefix_DDD_L_VI" type="hidden" name="DataViewModel.Prefix$DDD$L" value=""><table style="border-collapse:separate;visibility:hidden!important;display:none!important;">
                                                                                                                                    <tbody>
                                                                                                                                        <tr id="DataViewModel.Prefix_DDD_L_LBI-1" class="dxeListBoxItemRow_CoralMSP">
                                                                                                                                            <td id="DataViewModel.Prefix_DDD_L_LBI-1T0" class="dxeListBoxItem_CoralMSP">&nbsp;</td>
                                                                                                                                        </tr>
                                                                                                                                    </tbody>
                                                                                                                                </table><table id="DataViewModel.Prefix_DDD_L_LBT" style="width:100%;border-collapse:separate;">
                                                                                                                                    <tbody>
                                                                                                                                        <tr class="dxeListBoxItemRow_CoralMSP">
                                                                                                                                            <td class="dxeListBoxItem_CoralMSP" id="DataViewModel.Prefix_DDD_L_LBI0T0">-Unspecified-</td>
                                                                                                                                        </tr>
                                                                                                                                        <tr class="dxeListBoxItemRow_CoralMSP">
                                                                                                                                            <td class="dxeListBoxItem_CoralMSP" id="DataViewModel.Prefix_DDD_L_LBI1T0">Mr.</td>
                                                                                                                                        </tr>
                                                                                                                                        <tr class="dxeListBoxItemRow_CoralMSP">
                                                                                                                                            <td class="dxeListBoxItem_CoralMSP" id="DataViewModel.Prefix_DDD_L_LBI2T0">Mrs.</td>
                                                                                                                                        </tr>
                                                                                                                                        <tr class="dxeListBoxItemRow_CoralMSP">
                                                                                                                                            <td class="dxeListBoxItem_CoralMSP" id="DataViewModel.Prefix_DDD_L_LBI3T0">Ms.</td>
                                                                                                                                        </tr>
                                                                                                                                        <tr class="dxeListBoxItemRow_CoralMSP">
                                                                                                                                            <td class="dxeListBoxItem_CoralMSP" id="DataViewModel.Prefix_DDD_L_LBI4T0">Dr.</td>
                                                                                                                                        </tr>
                                                                                                                                    </tbody>
                                                                                                                                </table>
                                                                                                                            </div>
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                         
                                                                                        </td>
                                                                                        <td id="DataViewModel.Prefix_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.Prefix_EI" title="Error has occurred" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="Error has occurred" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                           
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">
                                                                            <span id="img_DataViewModel.Email" class="images_cstmz_required_field_svg" title="Required" style="/*margin-bottom: 12px;*/margin-top: -12px;"></span>

                                                                            <span id="lbl_DataViewModel.Email">Email:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle; position: relative;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.Email_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.Email_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="DataViewModel.Email" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="dxic" style="width:100%;"><input tabindex="7" class="dxeEditArea_CoralMSP dxeEditAreaSys" data-val-email="The field Email value is incorrect" data-val="true" id="DataViewModel.Email_I" name="DataViewModel.Email" onfocus="ASPx.EGotFocus('DataViewModel.Email')" onblur="ASPx.ELostFocus('DataViewModel.Email')" onchange="ASPx.EValueChanged('DataViewModel.Email')" type="text"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table><span class="coralmsp-editform-control-infotext">Email will be used as a login</span>
                                                                                        </td>
                                                                                        <td id="DataViewModel.Email_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.Email_EI" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">
                                                                            <span id="img_DataViewModel.FirstName" class="images_cstmz_required_field_svg" title="Required" style="/*margin-bottom: 12px;*/margin-top: -12px;"></span>

                                                                            <span id="lbl_DataViewModel.FirstName">First Name:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.FirstName_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.FirstName_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="DataViewModel.FirstName" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="dxic" style="width:100%;"><input tabindex="2" class="dxeEditArea_CoralMSP dxeEditAreaSys" id="DataViewModel.FirstName_I" name="DataViewModel.FirstName" onfocus="ASPx.EGotFocus('DataViewModel.FirstName')" onblur="ASPx.ELostFocus('DataViewModel.FirstName')" onchange="ASPx.EValueChanged('DataViewModel.FirstName')" type="text"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td id="DataViewModel.FirstName_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.FirstName_EI" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                         
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">
                                                                            <span id="img_DataViewModel.EmailVerify" class="images_cstmz_required_field_svg" title="Required" style="/*margin-bottom: 12px;*/margin-top: -12px;"></span>

                                                                            <span id="lbl_DataViewModel.EmailVerify">Confirm Email:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.EmailVerify_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.EmailVerify_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="DataViewModel.EmailVerify" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="dxic" style="width:100%;"><input tabindex="8" class="dxeEditArea_CoralMSP dxeEditAreaSys" id="DataViewModel.EmailVerify_I" name="DataViewModel.EmailVerify" onfocus="ASPx.EGotFocus('DataViewModel.EmailVerify')" onblur="ASPx.ELostFocus('DataViewModel.EmailVerify')" onchange="ASPx.EValueChanged('DataViewModel.EmailVerify')" type="text"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td id="DataViewModel.EmailVerify_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.EmailVerify_EI" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                         
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">

                                                                            <span id="lbl_DataViewModel.MiddleName">Middle Name:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.MiddleName_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.MiddleName_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="DataViewModel.MiddleName" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="dxic" style="width:100%;"><input tabindex="3" class="dxeEditArea_CoralMSP dxeEditAreaSys" id="DataViewModel.MiddleName_I" name="DataViewModel.MiddleName" onfocus="ASPx.EGotFocus('DataViewModel.MiddleName')" onblur="ASPx.ELostFocus('DataViewModel.MiddleName')" onchange="ASPx.EValueChanged('DataViewModel.MiddleName')" type="text"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td id="DataViewModel.MiddleName_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.MiddleName_EI" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">
                                                                            <span id="img_DataViewModel.Phone" class="images_cstmz_required_field_svg" title="Required" style="/*margin-bottom: 12px;*/margin-top: -12px;"></span>

                                                                            <span id="lbl_DataViewModel.Phone">Phone:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.Phone_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.Phone_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="DataViewModel.Phone" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="dxic" style="width:100%;"><input tabindex="9" class="dxeEditArea_CoralMSP dxeEditAreaSys" id="DataViewModel.Phone_I" name="DataViewModel.Phone" onfocus="ASPx.EGotFocus('DataViewModel.Phone')" onblur="ASPx.ELostFocus('DataViewModel.Phone')" onchange="ASPx.EValueChanged('DataViewModel.Phone')" type="text" autocomplete="off"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td id="DataViewModel.Phone_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.Phone_EI" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">
                                                                            <span id="img_DataViewModel.LastName" class="images_cstmz_required_field_svg" title="Required" style="/*margin-bottom: 12px;*/margin-top: -12px;"></span>

                                                                            <span id="lbl_DataViewModel.LastName">Last Name:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.LastName_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.LastName_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="DataViewModel.LastName" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="dxic" style="width:100%;"><input tabindex="4" class="dxeEditArea_CoralMSP dxeEditAreaSys" id="DataViewModel.LastName_I" name="DataViewModel.LastName" onfocus="ASPx.EGotFocus('DataViewModel.LastName')" onblur="ASPx.ELostFocus('DataViewModel.LastName')" onchange="ASPx.EValueChanged('DataViewModel.LastName')" type="text"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td id="DataViewModel.LastName_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.LastName_EI" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                       
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">

                                                                            <span id="lbl_DataViewModel.Fax">Fax:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.Fax_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.Fax_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="DataViewModel.Fax" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="dxic" style="width:100%;"><input tabindex="10" class="dxeEditArea_CoralMSP dxeEditAreaSys" id="DataViewModel.Fax_I" name="DataViewModel.Fax" onfocus="ASPx.EGotFocus('DataViewModel.Fax')" onblur="ASPx.ELostFocus('DataViewModel.Fax')" onchange="ASPx.EValueChanged('DataViewModel.Fax')" type="text" autocomplete="off"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td id="DataViewModel.Fax_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.Fax_EI" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                       
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">
                                                                            <span id="img_DataViewModel.Company" class="images_cstmz_required_field_svg" title="Required" style="/*margin-bottom: 12px;*/margin-top: -12px;"></span>

                                                                            <span id="lbl_DataViewModel.Company">Company:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.Company_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.Company_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="DataViewModel.Company" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="dxic" style="width:100%;"><input tabindex="5" class="dxeEditArea_CoralMSP dxeEditAreaSys" id="DataViewModel.Company_I" name="DataViewModel.Company" onfocus="ASPx.EGotFocus('DataViewModel.Company')" onblur="ASPx.ELostFocus('DataViewModel.Company')" onchange="ASPx.EValueChanged('DataViewModel.Company')" type="text"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td id="DataViewModel.Company_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.Company_EI" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                     
                                                                            </script>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">

                                                                            <span id="lbl_DataViewModel.Mobile">Mobile:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.Mobile_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.Mobile_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="DataViewModel.Mobile" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="dxic" style="width:100%;"><input tabindex="11" class="dxeEditArea_CoralMSP dxeEditAreaSys" id="DataViewModel.Mobile_I" name="DataViewModel.Mobile" onfocus="ASPx.EGotFocus('DataViewModel.Mobile')" onblur="ASPx.ELostFocus('DataViewModel.Mobile')" onchange="ASPx.EValueChanged('DataViewModel.Mobile')" type="text" autocomplete="off"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td id="DataViewModel.Mobile_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.Mobile_EI" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                      
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="width: 50%;" colspan="1" rowspan="1">
                                                    <div class="editform-row " style="">
                                                        <table class="coralmsp-fieldtable" style="width: 100%; height: 43px;">
                                                            <tbody>
                                                                <tr class="editform-tr">
                                                                    <td class="editform-td-label">
                                                                        <span class="coralmsp-label1">
                                                                            <span id="img_DataViewModel.Title" class="images_cstmz_required_field_svg" title="Required" style="/*margin-bottom: 12px;*/margin-top: -12px;"></span>

                                                                            <span id="lbl_DataViewModel.Title">Title:</span>
                                                                        </span>
                                                                    </td>

                                                                    <td class="editform-td" style="vertical-align: middle;" colspan="1">
                                                                        <div class="coralmsp-editform-control">
                                                                            <table id="DataViewModel.Title_ET" class="dxeValidStEditorTable dxeRoot_CoralMSP" errorframe="errorFrame">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td id="DataViewModel.Title_CC" class="dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeNoBorderRight dxeControlsCell_CoralMSP" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;vertical-align:middle;">
                                                                                            <table class="dxeTextBoxSys dxeTextBox_CoralMSP dxeTextBoxDefaultWidthSys" id="DataViewModel.Title" style="width:220px;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td class="dxic" style="width:100%;"><input tabindex="6" class="dxeEditArea_CoralMSP dxeEditAreaSys" id="DataViewModel.Title_I" name="DataViewModel.Title" onfocus="ASPx.EGotFocus('DataViewModel.Title')" onblur="ASPx.ELostFocus('DataViewModel.Title')" onchange="ASPx.EValueChanged('DataViewModel.Title')" type="text"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td id="DataViewModel.Title_EC" class="dxeErrorCell_CoralMSP dxeErrorFrame_CoralMSP dxeErrorFrameSys dxeErrorCellSys dxeNoBorderLeft" style="color:#ff8f44;font-family:varela_roundregular;font-size:8pt;font-weight:normal;font-style:italic;padding-left:4px;vertical-align:middle;visibility:hidden;white-space:nowrap;">
                                                                                            <table style="width:100%;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td style="padding-right:4px;"><img id="DataViewModel.Title_EI" class="images_icons_validation_alert_svg" src="/DXR.axd?r=1_37-_q7Ic" alt="" style="height:10px;width:10px;"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                                <td style="width: 50%;" colspan="1" rowspan="1"></td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="r_wizard_buttons_container">
            <input type="button" id="btnNext" name="btnNext" value="Next" class="mybtn-next prevent-history" onclick="coralMSP.Register_Wizard.Next('Step1');">

            <a class="left prevent-history" href="@Url.Action("Login", "Account")">
                <span>Back to Login Page</span>
            </a>
        </div>

        <div class="clear registration_footer">
            CORAL MULTI-SIDED PLATFORM 0.2.6.95 iQA
            <span class="sub images_logo_png"></span>
        </div>

    </div>
</body>
</html>